

  ../../.AndroidStudio2.1/
        ../../.PyCharmCE2017.1/
        ../../.android/
        ../../.appletviewer
        ../../.gitconfig
        ../../Adobe Reader XI.lnk
        ../../AndroidStudioProjects/
        ../../AppData/
        ../../Contacts/
        ../../Desktop/
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
        ../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
        ../../Pictures/
        ../greater/
        ../projects/.idea/
        ../projects/c.jpg
        ../projects/evenorodd.py
        ../projects/greater.py
        ../projects/new_env/
        ../projects/output.jpg
        ../projects/spy/
        ../projects/spy_details.py
        ../projects/spy_details.pyc
        ../../Saved Games/
        ../../Searches/
        ../../Thumbs.db
        ../../Videos/
        ../../bsl.exe
        ../../cfougnlwj.exe
        ../../ihdlilv.exe
        ../../kvhs.exe
        ../../ntuser.dat
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.dat{f0c028ce-9cdf-11e6-9042-782bcbca8599}.TM.blf
        ../../ntuser.dat{f0c028ce-9cdf-11e6-9042-782bcbca8599}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{f0c028ce-9cdf-11e6-9042-782bcbca8599}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.ini
        ../../ryr.exe
        ../../sajrlwgo.exe
        ../../sbobw.exe
        ../../zpebmv.exe
           ../../.AndroidStudio2.1/
        ../../.PyCharmCE2017.1/
        ../../.android/
        ../../.appletviewer
        ../../.gitconfig
        ../../Adobe Reader XI.lnk
        ../../AndroidStudioProjects/
        ../../AppData/
        ../../Contacts/
        ../../Desktop/
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
        ../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
        ../../Pictures/
        ../greater/
        ../projects/.idea/
        ../projects/c.jpg
        ../projects/evenorodd.py
        ../projects/greater.py
        ../projects/new_env/
        ../projects/output.jpg
        ../projects/spy/
        ../projects/spy_details.py
        ../projects/spy_details.pyc
        ../../Saved Games/
        ../../Searches/
        ../../Thumbs.db
        ../../Videos/
        ../../bsl.exe
        ../../cfougnlwj.exe
        ../../ihdlilv.exe
        ../../kvhs.exe
        ../../ntuser.dat
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.dat{f0c028ce-9cdf-11e6-9042-782bcbca8599}.TM.blf
        ../../ntuser.dat{f0c028ce-9cdf-11e6-9042-782bcbca8599}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{f0c028ce-9cdf-11e6-9042-782bcbca8599}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.ini
        ../../ryr.exe
        ../../sajrlwgo.exe
        ../../sbobw.exe
        ../../zpebmv.exe

